    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-section">
            <p class="footer-text">The 1950s Blog Web Site</p>
        </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</body>
</html>
