<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The 50s Blog</title>

    <!-- Express Server defines the public folder where the CSS, HTML and assets reside -->
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    
</head>
<body>

    <!-- NAVIGATION BAR -->

    <nav class="navbar">

        <div class="nav-items">
            <div class="nav-text nav-text-1 nav-text-image">
                <p class="p-nav-text"><a href="/"><img class="img-navbar" src="/images/radio-8820671_640_sml.png" alt="home"></a></p>
                <a class="navbar-text-link"href="/"><p class="p-nav-text">HOME</p></a>
            </div>
            <div class="nav-text nav-text-1 nav-text-image">
                <p class="p-nav-text"><a href="/about"><img class="img-navbar" src="/images/car-4070183_1280_sml.png" alt="about"></a></p>
                <p class="p-nav-text"><a class="navbar-text-link"href="/about">ABOUT ME</a></p>
            </div>
            <div class="nav-text nav-text-image">
                <p class="p-nav-text"><a href="/"><img class="img-navbar-header" src="/images/heading.jpg" alt="The 1950s Blog Web Site"></a></p>
                    <!-- <h3 class="h3-nav-text">The 1950s Blog</h3>
                    <h3 class="h3-nav-text">Web Site</h3> -->
            </div>
            <div class="nav-text nav-text-1 nav-text-image">
                <p class="p-nav-text"><a href="/archive"><img class="img-navbar" src="/images/turntable-8818274_640_sml.png" alt="archive"></a></p>
                    <p class="p-nav-text"><a class="navbar-text-link"href="/archive">ARCHIVE</a></p>
            </div>
            <div class="nav-text nav-text-1 nav-text-image">
                <p class="p-nav-text"><a href="/contact"><img class="img-navbar" src="/images/clipart-3419089_1280_sml.png" alt="contact"></a></p>
                    <p class="p-nav-text"><a class="navbar-text-link"href="/contact">CONTACT</a></p>
            </div>
        </div>

    </nav>



