<!-- Add Header -->
<%- include("partials/header.ejs") %>



    <div class="container-top">

        <div class="page-section">

            <div class="page-sub-section">

                <h2>About Me and What This Blog is About</h2>

                <div class="info-page-section">

                    <div class="info-page-sub-section-1">
                    
                        <img class="img-post" src="/images/casal-1818171_640.png">

                    </div>
            
                    <div class="info-page-sub-section-2">

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor eros, aliquet eu dui id, tincidunt sagittis dolor. Donec tristique felis nec consectetur tempor. Vivamus sit amet aliquam magna, sit amet euismod eros. Etiam non sem mollis, aliquet leo nec, laoreet odio. Pellentesque tristique, mi a aliquam porta, turpis velit cursus nulla, eget blandit leo risus quis ipsum. Integer tempus enim ut libero consectetur, a tristique lacus ultricies. Duis molestie placerat sollicitudin. Nullam nunc dolor, pretium id augue nec, lobortis pretium nulla. Mauris faucibus sed sapien in tempor. Nunc faucibus ex non enim vestibulum, vitae hendrerit nisi dignissim. Fusce dapibus lorem nec metus viverra, vitae finibus mi fringilla. Praesent commodo velit a maximus tincidunt. Nam lacinia vitae nulla non dignissim. Integer ante ipsum, mattis sit amet eleifend quis, feugiat non sapien. Nulla vel justo ac orci sagittis dapibus ut vitae dui. Pellentesque quis nisi magna.</p>
                        <p>In venenatis nisi risus, ac tincidunt lectus eleifend eu. Phasellus condimentum in dolor id viverra. Vestibulum risus orci, dapibus a turpis vitae, pharetra aliquam ex. Morbi vehicula metus erat, eget placerat ex elementum quis. Etiam vestibulum lorem vel tortor lobortis, eu eleifend nisi sagittis. Donec id elit et dui condimentum aliquet et sit amet elit. Ut vulputate, ipsum ut commodo feugiat, quam tellus posuere nunc, nec porttitor nibh urna vitae neque. Donec feugiat molestie lectus, ut posuere dui sagittis a. Duis placerat dui a leo sagittis, quis fringilla lacus eleifend. Aliquam efficitur tincidunt lorem et lobortis. Curabitur non metus sit amet quam blandit tincidunt. Suspendisse aliquam tempus ante. Donec finibus odio nisl. Integer congue ex et est cursus bibendum et a enim.</p>
                        <p>Aliquam quis neque risus. Curabitur rutrum, ante semper rhoncus tincidunt, enim mi tristique elit, at vestibulum purus urna eget nisi. Fusce luctus arcu a nibh interdum ultrices. Sed ac urna aliquam, porttitor sem sed, aliquam eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ac vehicula ex. Fusce ac ultrices nisl, vitae finibus orci. Aenean in porta orci.</p>
                
                    </div>
                </div>


            </div>

        </div>

    </div>


    <div class="credits">

        <p>Image Credits</p>

        <div class="credits-sub-section">
            <img class="image-credit" src="/images/casal-1818171_640.png">
            <p class="p-small">Image by Jo Justino from Pixabay</p>
            <img class="image-credit" src="/images/retro-8782064_640.jpg">
            <p class="p-small">Image by Aberrant Realities from Pixabay</p>
            <img class="image-credit" src="/images/ai-generated-8826000_1280.jpg">
            <p class="p-small">Image by Alana Jordan from Pixabay</p>
            <img class="image-credit" src="/images/ai-generated-8568804_1280.jpg">
            <p class="p-small">Image by AI-Hobby-Kunst from Pixabay</p>
        </div>

        <div class="credits-sub-section">
            <img class="image-credit" src="/images/radio-8820671_640_sml.png">
            <p class="p-small">Image by InspiredImages from Pixabay</p>
            <img class="image-credit" src="/images/car-4070183_1280_sml.png">
            <p class="p-small">Image by Jazella from Pixabay</p>
            <img class="image-credit" src="/images/turntable-8818274_640_sml.png">
            <p class="p-small">Image by InspiredImages from Pixabay</p>
            <img class="image-credit" src="/images/clipart-3419089_1280_sml.png">
            <p class="p-small">Image by Mudassar Iqbal from Pixabay</p>
        </div>

        <div class="credits-sub-section credits-sub-section-classic">
            <img class="image-credit" src="/images/adverts-old-vintage-advertisements-posters-labels-40.jpg">
            <p class="p-small"></p>
            <img class="image-credit" src="/images/adverts-old-vintage-advertisements-posters-labels-251.jpg">
            <p class="p-small"></p>
            <img class="image-credit" src="/images/adverts-old-vintage-advertisements-posters-labels-191.jpg">
            <p class="p-small"></p>
            <img class="image-credit" src="/images/adverts-old-vintage-advertisements-posters-labels-51.jpg">
            <p class="p-small"></p>
            <p class="p-small">Images from Free Classic Images</p>
        </div>

    </div>

    <!-- FOOTER -->
    <footer class="footer-about">
        <div class="footer-section">
            <p class="footer-text">The 1950s Blog Web Site</p>
        </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</body>
</html>

<!-- Add Footer -->
<%#- include("partials/footer.ejs") %>


