<!-- Add Header -->
<%- include("partials/header.ejs") %>



    <div class="container-top">

        <div class="page-section">

            <div class="page-sub-section">

                <h2>Archive</h2>

                <div class="info-page-section">

                    <div class="info-page-sub-section-1">

                        <img class="img-post" src="/images/ai-generated-8826000_1280.jpg">

                    </div>

                    <div class="info-page-sub-section-2">

                        <p>See the list of Archives below</p>

                        <ul>
                            <li><a href="">Archive 1</a></li>
                            <li><a href="">Archive 2</a></li>
                            <li><a href="">Archive 3</a></li>
                            <li><a href="">Archive 4</a></li>
                            <li><a href="">Archive 5</a></li>
                            <li><a href="">Archive 6</a></li>
                        </ul>

                    </div>

                </div>


            </div>

            <p>NOTE: These archive links are for cosmetic purposes only, and do NOT work.</p>

        </div>

    </div>


<!-- Add Footer -->
<%- include("partials/footer.ejs") %>


