<!-- Add Header -->
<%- include("partials/header.ejs") %>



    <div class="container-top">

        <div class="page-section">

            <div class="page-sub-section">

                <h2>How to Contact Me</h2>

                <div class="info-page-section">

                    <div class="info-page-sub-section-1">
                        <img class="img-post" src="/images/ai-generated-8568804_1280.jpg">
                    </div>

                    <div class="info-page-sub-section-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor eros, aliquet eu dui id, tincidunt sagittis dolor. Donec tristique felis nec consectetur tempor. Vivamus sit amet aliquam magna, sit amet euismod eros. Etiam non sem mollis, aliquet leo nec, laoreet odio. Pellentesque tristique, mi a aliquam porta, turpis velit cursus nulla, eget blandit leo risus quis ipsum. Integer tempus enim ut libero consectetur, a tristique lacus ultricies. Duis molestie placerat sollicitudin. Nullam nunc dolor, pretium id augue nec, lobortis pretium nulla. Mauris faucibus sed sapien in tempor. Nunc faucibus ex non enim vestibulum, vitae hendrerit nisi dignissim. Fusce dapibus lorem nec metus viverra, vitae finibus mi fringilla. Praesent commodo velit a maximus tincidunt. Nam lacinia vitae nulla non dignissim. Integer ante ipsum, mattis sit amet eleifend quis, feugiat non sapien. Nulla vel justo ac orci sagittis dapibus ut vitae dui. Pellentesque quis nisi magna.</p>
                    </div>

                </div>


            </div>

        </div>

    </div>


<!-- Add Footer -->
<%- include("partials/footer.ejs") %>


